<head>
    <base href="/">
</head>
<mat-card id="card" class="bg" style="text-align: center; background-color: transparent">
    <div class="example">
        <div div class="overlay" style="margin-top: 300px">
            <mat-form-field>
                <input matInput placeholder="Search" name="search" [(ngModel)]="search">
                <button name="s" matSuffix mat-button ><mat-icon>search</mat-icon></button>
            </mat-form-field>
        </div>
    </div>
</mat-card>

<br>
<br>
<div class="center">
    <button name="post" mat-stroked-button (click)="loginOrRoute('/create')"> Post a Lease </button>
</div>
