<head>
  <base href="/" />
  <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rubik">
    <style>
      body {
        font-family: 'Rubik', serif;
        font-size: 38px;
      }
    </style>  
</head>
<mat-card
  id="card"
  class="bg"
  style="text-align: center; background-color: transparent"
>
  <div class="example">
    <div div class="overlay" style="margin-top: 300px">
      <mat-form-field>
        <input
          matInput
          placeholder="Search"
          name="search"
          [(ngModel)]="search"
        />
        <button name="s" matSuffix mat-button routerLink="/my-leases">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</mat-card>

<br />
<br />
<div class="center">
  <button name="post" mat-stroked-button (click)="loginOrRoute('/create')">
    Post a Lease
  </button>
</div>

<body>Listings
<app-lease-listings></app-lease-listings>
</body>
