
.example overlay {
  position: absolute;
  justify-content: center;
}

.center {
  display: flex;
  height: 50px;
  justify-content: center;
}

.bg {
  background-image: url("../../assets/images/apt2.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
