
  
  <!-- <app-navigation></app-navigation> 
  (newPost)="postLease($event)"-->

  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span routerLink="/home">ReLease</span>
      <span class="example-spacer"></span>
      <a mat-button routerLink="/post"> Post </a>
      <a mat-stroked-button routerLink="/login">Sign in</a>
    </mat-toolbar>
  </p>

  <router-outlet></router-outlet>

   
