<section>
    <div> 
      <label for="name"> Post Lease: </label>

      <mat-form-field class="example-form-field">
        <mat-label>name</mat-label>
        <input matInput type="text" #p
          placeholder="name">
          <button mat-raised-button type="button" (click)="addPost(p.value)" > post </button>
      </mat-form-field>

    </div>
 </section>

 <br> <br>
      <h2> Current Listings: </h2>

    <div *ngFor="let lease of leases">
        <p><a href="#lease:{{lease.name}}"> {{ lease.name }} </a></p>
    </div>

 <!--(blur)= "addPost(p.value); p.value='' "
(keyup.enter)= "addPost(p.value)"-->