<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
  <mat-card>
    <mat-form-field class="example-full-width">
      <mat-label>Post Title</mat-label>
      <input name="name" matInput [(ngModel)]="post.name" />
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Set Price</mat-label>
            <input
              name="rent"
              matInput
              placeholder="$"
              [(ngModel)]="post.rent"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Start Date</mat-label>
            <input
              [matDatepicker]="picker1"
              name="start"
              matInput
              [(ngModel)]="post.startDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>End Date</mat-label>
            <input
              [matDatepicker]="picker2"
              name="end"
              matInput
              [(ngModel)]="post.endDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Square footage</mat-label>
            <input
              type="number"
              name="squareFootage"
              matInput
              [(ngModel)]="post.squareFootage"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!--Address info-->

    <table class="example-full-width" cellspacing="0">
      <tr>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input name="street" matInput [(ngModel)]="post.address.street" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Apt. # (optional)</mat-label>
          <input
            name="roomNum"
            matInput
            [(ngModel)]="post.address.roomNumber"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            name="city"
            matInput
            placeholder="Ex. San Francisco"
            [(ngModel)]="post.address.city"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input
            name="state"
            matInput
            placeholder="Ex. California"
            [(ngModel)]="post.address.state"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input
            name="zip"
            matInput
            #postalCode
            maxlength="5"
            placeholder="Ex. 94105"
            [(ngModel)]="post.address.zipCode"
          />
          <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </tr>
    </table>

    <!--utlity cost, parking, and more-->
    <table class="example-full-width" cellspacing="0">
      <tr>
        <mat-form-field>
          <mat-label># beds</mat-label>
          <input type="number" name="bed" matInput [(ngModel)]="post.beds" />
        </mat-form-field>
        <mat-form-field>
          <mat-label># baths</mat-label>
          <input name="bath" matInput [(ngModel)]="post.baths" />
        </mat-form-field>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr></tr>
    </table>

    <mat-checkbox
      name="furnished"
      class="example-margin"
      [(ngModel)]="post.furnished"
    >
      Furnished
    </mat-checkbox>
    <br />
    <mat-checkbox
      name="parking"
      class="example-margin"
      [(ngModel)]="post.parking"
    >
      Parking
    </mat-checkbox>
    <br />
    <div *ngIf="post.parking">
      <mat-form-field>
        <mat-label>Cost of Parking</mat-label>
        <input name="parkCost" matInput [(ngModel)]="post.parkingCost" />
      </mat-form-field>
    </div>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label> Amenities </mat-label>
      <input
        name="amenties"
        matInput
        placeholder="pool, balcony, ..."
        [(ngModel)]="post.amenities"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> Appliances </mat-label>
      <input
        name="appliances"
        matInput
        placeholder="dishwasher, laundry, ..."
        [(ngModel)]="post.amenities"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> Description </mat-label>
      <textarea
        name="description"
        matInput
        placeholder="additional info"
        [(ngModel)]="post.amenities"
      ></textarea>
    </mat-form-field>
  </mat-card>
  <br />
  <mat-card-footer>
    <button mat-stroked-button type="submit">Post</button>
  </mat-card-footer>
</form>
